
body {
  background-color: lightyellow
}
p {
  color: rgb(3,11,252);
      font-size: 15px; 
       font-style: oblique;
       font-family: serif;
        text-align: center;
         text-indent: 3em
        border-style: solid;
          border-color: darkred;
   text-decoration-line: underline;
  text-decoration-color: black;
   margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
   background-color: lightgray;
   border: 2.5px solid black;
}
h1 {
  color: darkorange;
  font-size: 25px;
  font-style: oblique;
   font-family: serif; 
   text-align: center;
  text-decoration-line: underline;
  text-decoration-color: black;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
     background-color: lightgray;
   border: 2.5px solid black;
}
h2 {
  color: darkgreen;
  font-size: 25px;
  font-style: oblique;
   font-family: serif;
   text-align: center;
  text-decoration-line: underline;
  text-decoration-color: black;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
   background-color: lightgray;
   border: 2.5px solid black;
}
h3 {
  color: rgb(206,66,245);
     font-size: 25px;
     font-style: oblique;
   font-family: serif;
  text-align: center;
  text-decoration-line: underline;
  text-decoration-color: black;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
    background-color: lightgray;
   border: 2.5px solid black;
}

<li> {
   color: rgb(206,66,245);
     font-size: 25px;
     font-style: oblique;
   font-family: serif;
  text-align: center;
  text-decoration-line: underline;
  text-decoration-color: black;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
    background-color: lightgray;
   border: 2.5px solid black;
}
img {
  border-radius: 8px;
  background-color: darkgreen;
  border: 3.5 solid black;
}
img
{
    width: 20vmax;
    border-radius: 8px;
    border: 3.5 solid black;
}
.search-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #666666;
        height: 40px;
        border-radius: 40px;
        padding: 10px;
        display: flex;
}



    
