
body {
  background-color: lightyellow
}
p {
  color: rgb(3,11,252);
      font-size: 15px; 
       font-style: oblique;
       font-family: serif;
        text-align: center;
         text-indent: 3em
        border-style: solid;
          border-color: darkred;
   text-decoration-line: underline;
  text-decoration-color: black;
   margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
   background-color: red;
        opacity: 0.3;
  
}
h1 {
  color: orange;
  font-size: 25px;
  font-style: oblique;
   font-family: serif; 
   text-align: center;
  text-decoration-line: underline;
  text-decoration-color: black;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
   background-color: red;
        opacity: 0.3;
}
h2 {
  color: darkgreen;
  font-size: 25px;
  font-style: oblique;
   font-family: serif;
   text-align: center;
  text-decoration-line: underline;
  text-decoration-color: black;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  background-color: red;
        opacity: 0.3;
}
h3 {
  color: rgb(206,66,245);
     font-size: 25px;
     font-style: oblique;
   font-family: serif;
  text-align: center;
  text-decoration-line: underline;
  text-decoration-color: black;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
   background-color: red;
        opacity: 0.3;
}
a {
  text-align: center;
}





    
