#inspirepic { border-radius: 15px;
}

#profilepic { border-radius: 15px;
}
h1
{
    text-align: center;
    color: rgb(139,0,0);
    background-color: rgb(211,211,211);
    font-size: 75pt;
}
p
{
    text-align: center;
    font-size: 14pt;
    color: rgb(139,0,0);
}
section.inspire
{ 
    text-align: center;
    color: rgb(139,0,0);
    font-size: 15px; 
}
ul
{ 
    Font-size: 15px;
  text-align: center;
    color: rgb(139,0,139)
 }
