
h1
{
    text-align: center;
    color: dark blue 
    background-color: light blue
    font-size: 50pt;
}
p
{
    text-align: center;
    font-size: 14pt;
}
section
{
    color: rgb (255,255,255)
    float: right;
}
