#inspirepic { border-radius: 8px;
}

#profilepic { border-radius: 8px;
}
h1
{
    text-align: center;
    color: rgb (355,55,555);
    background-color: rgb (65,55,255);
    font-size: 50pt;
}
p
{
    text-align: center;
    font-size: 14pt;
}
