body
{
    background-color: rgb(235, 204, 52);
}
li
{
    color: darkred
    text-align: left
        font-family: verdana;
}
h1
{
    text-align: left;
    color: darkgreen;
    font-size: 48pt;
    font-family: verdana;
}
h2
{
    color: darkgreen
        font-family: verdana;
}
h3
{
    color: darkblue 
        font-family: verdana;
}
section h2
{
    margin: 5px;
    font-size: 28pt;
    color: darkgreen
        font-family: verdana;
}
section
{
    border: 3px solid green;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px;
    clear: green;
    font-family: verdana;
}
ul
{
    font-size: 18pt;
    font-family: verdana;
}
.date
{
    color: darkblue;
    float: right;
}
nav a
{   
    font-size: 20pt;
    font-weight: bold;
    color: darkred
        font-family: verdana;
}
#experience li
{
    border-bottom: 4px solid darkblue
       
}
#education h3
{
    border-bottom: 4px solid darkblue   
}
#skills li
{
    border-bottom: 4px solid darkblue 
}
img {
  border-radius: 50%;
  grayscale {filter: grayscale(100%);}
}
