body {
  background-color: rgb(232, 128, 255)
}
img
{
    width: 20vmax;
    border-radius: 8px;
    border: 3.5 solid black;
     text-align: center
}
h2 {
  color: red
  font-size: 25px;
  font-style: oblique;
   font-family: serif;
   text-align: center;
  text-decoration-line: underline;
  text-decoration-color: black;
}
p {
  text-align: center
    color: darkgray
}
