body 
{
  background-color: rgb(232, 128, 255)
    background-size: cover;
  background: content-box radial-gradient(white, darkviolet);
  background-blend-mode: difference;
}
img
{
    width: 45vmax;
  margin-left: auto;
  margin-right: auto;
   display: block;
  float: center;
   outline-style: solid;
  outline-color: black;
  outline-width: thin;
}
h2 
{
  color: purple
  font-style: oblique;
   text-align: center;
  text-decoration-line: underline;
  text-decoration-color: purple;
   border: 2.5px solid white;
 font-family: Arial, Helvetica, sans-serif;
  font-size: 55px;
}
h3 
{
    color: purple
  text-decoration-color: black;
  font-size: 55px;
  font-style: oblique;
   text-align: center;
   text-decoration-line: underline;
   border: 2.5px solid white;
   font-family: "Times New Roman", Times, serif;
}
h1
{
  font-size: 55px;
  font-style: oblique;
    text-decoration-line: underline;
  text-decoration-color: purple;
   text-align: center;
   border: 2.5px solid white;
   font-family: "Times New Roman", Times, serif;
}
iframe 
{
    
  border: purple
  margin-left: auto;
  margin-right: auto;
   display: block;
   padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
    width: 52vmax;
text-align: center
 
}
p
{
color: red
  font-style: oblique;
   font-family: serif;
   text-align: left;
   font-size: 22px;
    font-weight: bold;
   font-family: "Times New Roman", Times, serif;

}
a {
    color: yellow
     text-align: center
}
.btn {
  background-color: purple;
  border: none;
  color: white; 
  padding: 15px 25px;
  font-size: 20px; 
  cursor: pointer; 
   text-align: center
}
.btn:hover {
  background-color: RoyalBlue;
   text-align: center
}
br {
  text-decoration-line: underline;
  text-decoration-color: black;
}
div {

  border: 15px solid purple; 
  border-block-end-style: groove;
    padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;

} 
h1.class {
  color: black
  font-style: oblique;
   font-family: serif;
   text-align: center;
   font-size: 55px;
    font-weight: bold;
   font-family: "Times New Roman", Times, serif;
}

