body 
{
  background-color: rgb(232, 128, 255)
}
img
{
    width: 45vmax;
  margin-left: auto;
  margin-right: auto;
   display: block;
}
h2 
{
  color: purple
  font-size: 45x;
  font-style: oblique;
   font-family: serif;
   text-align: center;
  text-decoration-line: underline;
  text-decoration-color: black;
}
h3 
{
    color: purple
  text-decoration-line: underline;
  text-decoration-color: black;
  font-size: 45px;
  font-style: oblique;
   text-align: center;
}
h1
{
  font-size: 45px;
  font-style: oblique;
    text-decoration-line: underline;
  text-decoration-color: black;
   text-align: center;
}
iframe 
{
    width: 35vmax;
  margin-left: auto;
  margin-right: auto;
   display: block;
}
p
{
    color: black
  font-style: oblique;
   font-family: serif;
   text-align: left;
   font-size: 22px;
}
a
{
   text-align: center
   text-decoration-line: underline;
  text-decoration-color: black;
}
.btn {
  background-color: purple;
  border: none;
  color: white; 
  padding: 15px 25px;
  font-size: 20px; 
  cursor: pointer; 
   text-align: center
}
.btn:hover {
  background-color: RoyalBlue;
   text-align: center
}
